<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/home" color="danger">Salir</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Detalles Desarrollador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="globe-sharp"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-linkedin"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div style="background-color:royalblue;">
    <center><img src="../../assets/icon/avatar.jpeg" alt="" style="border-radius: 50%; margin: 20px;" width="40%">
      <h2>José Luis Flores</h2>
      <h4>Junior Developer en House-Soft</h4>
      <br>
    </center>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Biografía</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Soy un programador junior freelance por el momento ;)
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Habilidades</ion-card-title>
    </ion-card-header>

    <ion-list>
      <ion-item>
        <ion-icon color="primary" slot="start" name="checkmark-sharp"></ion-icon>
        <ion-label>C</ion-label>
      </ion-item>
        <ion-item>
        <ion-icon color="primary" slot="start" name="checkmark-sharp"></ion-icon>
        <ion-label>C++</ion-label>
      </ion-item>
        <ion-item>
        <ion-icon color="primary" slot="start" name="checkmark-sharp"></ion-icon>
        <ion-label>JAVA</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon color="primary" slot="start" name="checkmark-sharp"></ion-icon>
        <ion-label>HTML</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon color="primary" color="primary" slot="start" name="checkmark-sharp"></ion-icon>
        <ion-label>CSS</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon color="primary" slot="start" name="checkmark-sharp"></ion-icon>
        <ion-label>JS</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon color="primary" slot="start" name="checkmark-sharp"></ion-icon>
        <ion-label>NODEJS</ion-label>
      </ion-item> 
      <ion-item>
        <ion-icon color="primary" slot="start" name="checkmark-sharp"></ion-icon>
        <ion-label>REACT</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon color="primary" slot="start" name="checkmark-sharp"></ion-icon>
        <ion-label>EXPRESS</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Experiencia</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="bulb-outline"></ion-icon>
        <ion-label>
          House-Soft
          <p>2019/12/31 -2020/02/17</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="bulb-outline"></ion-icon>
        <ion-label>
          Universidad La Salle Oaxaca
        <p>2016/01/08 -2020/01/07</p>
      </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Educación</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="school-outline"></ion-icon>
        <ion-label>
          Universidad La Salle Oaxaca
        <p>2016/01/08 -2020/01/07</p>
      </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>

