<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/home" color="danger">Salir</ion-button>
    </ion-buttons>
    <ion-title color="primary">posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2 style="color: royalblue; text-align: center; margin-bottom: 20px;">Bienvenido a la comunidad</h2>

  <ion-list class="ion-padding">
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/avatar.jpeg"/>
      </ion-avatar>
      <ion-label>
        <h2>Jose Luis</h2>
        <p>Hola comunidad, tengo una duda sobre react</p>
        <ion-button routerLink="/post" slot="end">
          <ion-icon name="add"></ion-icon>aportar
        </ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/jdca.jpg"/>
      </ion-avatar>
      <ion-label>
        <h2>Juan Daniel</h2>
        <p>Hola comunidad, necesito que me ayuden con un sistema distribuido</p>
        <ion-button (click)="onClick()" slot="end">
          <ion-icon name="add"></ion-icon>aportar
        </ion-button>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/JALO.jpg"/>
      </ion-avatar>
      <ion-label>
        <h2>Javier Alberto</h2>
        <p>Hola comunidad, me pueden ayudar con mongoDB</p>
        <ion-button (click)="onClick()" slot="end">
          <ion-icon name="add"></ion-icon>aportar
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="Inicio" routerLink="/inicio">
          <ion-icon name="home"></ion-icon>
          <ion-label>Pagina principal</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="Desarrolladores" routerLink="/desarrolladores">
          <ion-icon name="person-sharp" ></ion-icon>
          <ion-label >Desarrolladores</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="map">
          <ion-icon color="primary" name="pencil-outline"></ion-icon>
          <ion-label color="primary">Posts</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>